nav ul a {
    font-size: 1.5rem;
}
.form-group .labelSearchGen  {
    font-size: 1.5rem;
    float:left;
    margin:10px 15px 0 10px;
}

.form-group .searchGen{
    font-size: 1.3rem;
    width: 150px;
    float:left;

}

 .btnSearch{
	margin:0px 15px;
    background-color: #5cb85c;
    border-color: #4cae4c;
    transition: all 0.2s ease-out 0s;
    color: #fff;
}